* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

hr {
    width: 90%;
    color: #A7A7A7;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* Header */
.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 5fr 3fr;
}

.search{
    align-self: end;
    justify-self: center;
    width: 88%;
    display: flex;
    gap: 1.25rem;
}

.search > input {
    flex-basis: 95%;
    height: 1.35rem;
    border-radius: 12px;
    background-color: #E2E7F0;
    border: none;
    padding: 4px;
    font-family: 'Roboto';    
}

.search > svg {
    font-size: 1.25rem;
}

.profile-info{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

.profile-info > svg {
    font-size: 1.65rem;
}

/* Sidebar */

.sidebar {
    background-color: #3292D3;
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 2fr 4fr 3fr 4fr;
}


.logo {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 12px;
    padding-left: 16px;
}

.logo-image {
    width: 50px;
    height: 50px;

}

.logo-text {
    font-size: 1.66rem;
}


ul>li {
    font-size: 1.2rem;
    display: flex;
    gap: 30px
}

ul>li>svg,
.card-icons>svg {
    font-size: 1.2rem;
}

.settings-menu {
    justify-content: flex-end;
}

.sidebar>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Main Content */

.main-content {
    background-color: #E2E7F0;
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1rem;
}

/* Project Area */

.projects-container {
    background-color: #E2E7F0;
    height: 100%;
}

.projects-container>h3 {
    margin: 16px 0 0 16px;
    padding-bottom: 0;
    font-size: 1.2rem;
    font-weight: 900;
    color: #000;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 18px;
    padding: 5px 16px 16px 16px;
    height: 90%;
}

.project-card {
    border: 1px solid #D4DAE2;
    border-left: 10px solid #F0B42A;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #FFF;

    -webkit-box-shadow: 3px 4px 5px 0px rgba(158, 146, 158, 1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(158, 146, 158, 1);
    box-shadow: 3px 4px 5px 0px rgba(158, 146, 158, 1);

}

.card-text {
    flex-basis: 70%;
    margin-top: 3%;
}

.card-title {
    font-weight: 900;
    color: #000;
}

.card-content {
    margin-top: 2px;
    color: #8C8C8C;
    width: 88%;
    font-size: .9rem;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.card-icons>svg {
    color: #595959;
}

/* Info Area */

.info-container {
    display: flex;
    flex-direction: column;
    height: 96%;
}

.info-container > div {
    display: flex;
    flex-basis: 50%;
    background-color: #FFF;
    border-radius: 10px;
    width: 80%;
    padding: 7px 16px;
    flex-basis: 50%;
    margin-top: 5px;

    -webkit-box-shadow: 3px 4px 5px 0px rgba(158, 146, 158, 1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(158, 146, 158, 1);
    box-shadow: 3px 4px 5px 0px rgba(158, 146, 158, 1);
}

.announcements{
    flex-direction: column;
    justify-content: space-evenly;
}

.announce-title {
    font-size: .875rem;
    font-weight: 900;
    color: #000;

    margin-bottom: 3px;
}

.announce-content {
    font-size: .825rem;
    color: #A7A7A7;
}

.info-container>h3 {
    margin-top: 16px;
    padding-bottom: 0;
    font-size: 1.2rem;
    font-weight: 900;
    color: #000;
}

.trending {
    flex-direction: column;
}

.trending-item{
    flex:1;
    display: flex;
    align-items: center;
}

.trending-img {
    flex-basis: 33%;
    justify-content: center;
    display: flex;
}

.trending-icon{
    height: 50px;
}

.trending-text{
    flex-basis: 66%;
}

.trending-title{
    font-size: .875rem;
    font-weight: 900;
    color: #000;

    margin-bottom: 3px;
}

.trending-content{
    font-size: .825rem;
    color: #A7A7A7;
}

